<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Twizz Automation Suite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="utils.ExtentReportListener"/>
        <listener class-name="utils.AnnotationTransformer"/>
    </listeners>
    <test name="Landing Page Tests">
        <classes>
            <class name="tests.LandingPageTest"/>
        </classes>
    </test>
</suite>